.dc-chart g.row text {fill: black;}

/*.container .map-chart {
    margin-left: -400px;
}

.container .killerGenderChart {
    margin-top: 80px;
}

.container .victimGenderChart {
    margin-top: 160px;
}

.container .weapon-chart{
    margin-top: -500px;
    margin-left: -250px;
}

.container .relashionship-chart{
    margin-top: 100px;
    margin-left: -400px;
}*/